<section class="login">
    <form fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="text" placeholder="Your Email"
            formControlName="email">   
            <mat-hint>Please Enter valid email</mat-hint>
            <mat-error>Invalid or Missing Email</mat-error>      
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Your password"
            formControlName="password">   
            <mat-hint>Please Enter a valid password</mat-hint>
            <mat-error>Missing Password</mat-error>        
        </mat-form-field>
        <button  *ngIf="!(isLoading$ | async)" mat-raised-button [disabled]="loginForm.invalid" color="primary">Login</button> 
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </form>
</section>
