<section class="new-trainings" fxLayout fxLayoutAlign="center">
 <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex="400px" >
        <mat-card-title fxLayoutAlign="center">
            Time to Start a Workout
        </mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field *ngIf="!(isLoading$ | async) && exercises$ | async">
                <mat-label>Select Exercise</mat-label>
                <mat-select ngModel name="exercise" required>
                    <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
                        {{exercise.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-progress-bar  *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button *ngIf="exercises$ async" type="submit" color="primary" [disabled]="f.invalid">Start</button>
            <button mat-button *ngIf="!(exercises$ | async)" type="button" color="primary" (click)="fetchExercises()">Fetch</button>
        </mat-card-actions>
    </mat-card>
 </form>
</section>
