<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="ontoggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>CN Fitness</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout class="navigation-items" fxLayoutGap="15px">
            <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
            <li *ngIf="isAuth$ | async"><a (click)="onLogout()">Logout</a></li>
        </ul>               
    </div>
</mat-toolbar>