<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input matInput 
            placeholder="Your Email" 
            type="text" 
            ngModel name="email"
            email
            required
            #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Email Id should not be empty</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email Id is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Min Character should be 6">
            <input matInput 
            placeholder="Your Password" 
            type="password" 
            ngModel name="password"
            required
            minlength="6"
            #pwInput="ngModel">
            <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
            <mat-error>Has to be atleast 6 Character</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your's BirthDate" 
            [matDatepicker]="datePicker"
            [max]="maxDate"
            ngModel name="birthDate"
            required color="primary">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Condition</mat-checkbox>
        <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary"
        [disabled]="f.invalid">
            Signup
        </button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </form>
</section>