<section class="current-trainings" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
    <h1>{{progress}}%</h1>
    <p>Keep on Going,U can !</p>
    <button mat-raised-button color="primary" (click)="onStop()">Stop</button>
</section>