<!-- <button mat-icon-button color="warn">
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>  
</button> -->

<mat-sidenav-container>
    <mat-sidenav #sideNav role="navigation">
        <app-sidenav-list (closeSideNav)="sideNav.toggle()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sideNavToggle)="sideNav.toggle()"></app-header>
        <main>
        <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>