<mat-tab-group *ngIf="!(onGoingTraining$ | async)">
    <mat-tab label="New Exercise">
        <app-new-trainings></app-new-trainings>
    </mat-tab>
    <mat-tab label="Past Exercise">
        <app-past-trainings></app-past-trainings>
    </mat-tab>
  </mat-tab-group>
  <app-current-trainings *ngIf="onGoingTraining$ | async "></app-current-trainings>